<form [formGroup]="loginForm" (ngSubmit)="login()">
  <div class="container">
    <label for="user"><b>Usuário</b></label>
    <input type="text" formControlName="user" [ngClass]="{ 'border-error': submitted && f.user.errors }"
      [(ngModel)]="form.user" placeholder="Digite o Usuário" name="user" >
    <div *ngIf="submitted && f.user.errors" class="invalid">
      <div *ngIf="f.user.errors.required">Usuário é obrigatório</div>
    </div>

    <label for="password"><b>Senha</b></label>
    <input type="password" formControlName="password" [ngClass]="{ 'border-error': submitted && f.password.errors }"  [(ngModel)]="form.password" placeholder="Digite a senha" name="password" >
      <div *ngIf="submitted && f.password.errors" class="invalid">
          <div *ngIf="f.password.errors.required">Senha é obrigatória</div>
          <div *ngIf="f.password.errors.minlength">Senha deve ter pelo menos 8 caracteres</div>
      </div>

    <button type="submit">Entrar</button>
  </div>
</form>