
.border-error{
  border: 2px solid red;
}
.invalid{
  color: red;
}
.container{
  width: 350px; 
  height: 150px; 
  left: 50%; 
  margin: -130px 0 0 -185px; 
  padding:10px;
  position: absolute; 
  top: 20%; 
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    box-sizing: border-box;
  }
  
  button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }
  
  button:hover {
    opacity: 0.8;
  }
  
