.container {
    margin: 5px 20% 5px 20%;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    box-sizing: border-box;
  }
  
  button {
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover {
    opacity: 0.8;
  }
  .btn-voltar{
          background-color: red;
          color: white;
          padding: 14px 20px;
         
          border: none;
          cursor: pointer;
          width: 50%;
        }
        .btn-adicionar{
            background-color: #4CAF50;
            color: white;
            padding: 14px 20px;
            
            border: none;
            cursor: pointer;
            width: 50%;
          }