.container {
    margin: 5px 5% 5px 5%;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    box-sizing: border-box;
  }
  
  button {
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover {
    opacity: 0.8;
  }
.btn-back{
  background-color: red;
  color: white;
  padding: 14px 20px;
  border: none;
  cursor: pointer;
  width: 23%;
  margin-right: 5px;
}
.btn-add{
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  border: none;
  cursor: pointer;
  width: 23%;
}